.contenedordetalle{
    background-color:#ffffff;
    display:flex;
    flex-direction: row;


}

.contenedorDer{

    height: auto;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    line-height: 20px;
    padding-right: 50px;
}    
.contenedorIzq{
   
    width: 600px;
    height: auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    padding-top: 10px;
    font-size: 12px;   
  
  
    border-radius: 5px;

    

    }
.imagenCards img{
    width:450px;
    height:600px;
    object-fit:cover;
    margin-top:30px;
    margin-bottom: 5px;
}
.texto{
    
    width: 90%;
    color:black;
    
}
.titu {
    display:block;
    margin-top: 80px;
    text-align: center;
    color:rgb(102, 97, 97);
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
}
.texto .precio{
  
    margin-top: 5px;

    font-size: 2em;
    color: rgb(57, 177, 218);
    text-align: center;
    margin-bottom: 100px;     
}


.renglon{
    display:flex;
    width: 100%;
    flex-direction: row;
    align-items: center; 
    justify-content:flex-start;

}
       

.stock{
    display:flex;
    justify-content: flex-start;
    font-size: 1.5em;
    
    color:green;
   
}

.renglon .cantidad p{
    display: flex;

    justify-content:end;
    font-size: 1em;
    display:inline; 
    margin-left: 60px;
    color: rgb(141, 137, 137);  
    
    text-align: left;
    margin-right: 3px;
} 

.etiqueta{
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid grey;
    padding: 5 10;
    font-size: 1.2em;
    font-weight: 800;
}


.material{
    font-weight:100;
    font-size: .8em;
}

.volver{

    
    display :flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
  
    font-size: 14px;
    background-color: none;
    color:black;

}

 
.volver a{
    background-color:white;
    color:black;
    width: 40px;
    height: 40px;
}

.volver a:hover{
    background-color: #ffffff;
    color:black;
    border: 1px solid grey;
}  
.volver p{
    line-height: 40px;
    display: inline-block;
    align-content: center;
}