
.contenedorlink{
    
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  
    width: 500px;
    height: 40px;
   
    font-size:1.2em;
    margin:3px;
    text-decoration: none;
    justify-content: start;
    border: none;

}
.conenedorlink h2{

    font-size: 20px;
    line-height: 20px;

}


.contenedorlink a{
    display:flex;
    width: 450px;
    background-color:green;
    color :white;
    height: 40px;
    text-decoration: none;
    margin-right: 2px;

}
.contenedorlink a:hover{

    background-color:white;
    color :green;
  
}
