.contenedoritem{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;

    justify-content:flex-start;
    align-items: center;
   
    background-color:#ffffff;

    border-radius: 5px;
    margin-top: 4px;
    margin-left: 20px;
    }
    .imgcarro{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 4px;

        width:80px;
        height:80px;
        object-fit:cover;
       
    }
    .contenidoitem{
        width:100px;
        display:flex;
        text-align: center;
        flex-direction: row;
        margin-left:5px;
        margin-right: 5px;
        text-align: center;
        justify-content: center;
      
    }
    .contenidoitem p{
        width:100px;
        display:flex;
        text-align: center;
        flex-direction: row;
        
        justify-content: center;
      
    }
    .subtot {
        width:100px;
        display:flex;
        margin-left: 10px;
        flex-direction: row;
        justify-content: end;
      
    }
    .contenidoprecio p{
        width:90px;
        display:flex;
     
        flex-direction: row;
        margin-left:5px;
        margin-right: 5px;
       
        justify-content: flex-end;
      
    }
    .contenidocodigo{
        width: 140px;
        display:flex;
        text-align: center;
      
        margin-left:10px;
      
    }
    .desc{
        width: 140px;
        display:flex;
        text-align: center;
      
        margin-left:10px;
      
    }
    .contenidocodigo p{
        width:300px;
        display:flex;
        text-align: center;
       
        margin-left:10px;
      
    }
    .contenedoritem h3{
        width:300px;
        display:flex;
        text-align: center;
       
       margin-left:10px;
       font-size: .9em;
       color:green;

      
    }
     .eliminar button{
        width: 30px;
        color:red;
        margin-right: 5px;
        background: none;
        border:none;
    }
    .eliminar button:hover{
    cursor: pointer;
    color:green;
    border:none;
    }
    
    .contenidocant p{
        width:60px;
        display:flex;
     
        flex-direction: row;
        margin-left:5px;
        margin-right: 5px;
       
        justify-content: flex-end;
      
    }